{% extends 'base.html' %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto my-auto">
            <div class="post-preview">
                <a href="">
                    <h2 class="post-title">
                        <a href="">{{ post.title}}</a>
                    </h2>
                    <h5 class="post-subtitle">{{post.body}}</h5>

                    <div class="d-flex mt-3">
                        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-sm btn-secondary mr-3">Edit</a>
                        <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                    <hr />
                </a>
            </div>

            <div class="comment-preview">
                <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-secondary">Comment</a>
            </div>
            
            {% for comment in post.comments.all %}
                <div class="comment mt-5">
                    <h4 class="title">
                        Comments:
                    </h4>
                    
                    <p style="padding-bottom: 0% !important; margin-bottom: 0% !important;">{{ comment.author }}</p>
                    <p style="margin: 0% !important; padding: 0% !important;">{{ comment.text}}</p>

                </div>
                <hr>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}