{% extends 'base.html' %} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto my-auto">
            <div class="post-preview">
                <a href="">
                    <h2 class="post-title">
                        <a href="">{{ post.title}}</a>
                    </h2>
                    <h5 class="post-subtitle">{{post.body}}</h5>
                    <hr />
                </a>
            </div>
            {% for comment in post.comments.all %}
                <div class="comment mt-5">
                    <h4 class="title">
                        Comments:
                    </h4>
                    
                    <span>{{ comment.author }}</span>
                    <p>{{ comment.text}}</p>

                    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
                </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}