{% extends 'base.html' %} 
{% block content%}
<div class="container">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Login</h2>
        <form action="" method="post">
            {% csrf_token %}

             <div class="form-group mt-5">
                <label for="username">
                    Username:
                </label>
                <br>
                {{ form.username }}
            </div>

            <div class="form-group mt-3">
                <label for="password1">
                    Password:
                </label>
                <br>
                {{ form.password }}
            </div>

            <div class="form-group mt-3">
                <p class="text-muted">
                    Forgetten Password? <a class="btn btn-secondary ml-2" href="{% url 'password_reset' %}">Reset Password</a>
                </p>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock%}