{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Sign Up</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mt-5">
                <label for="username"> Username: </label>
                <br /> {{ form.username }}
                <br />
                <span class="text-muted" style="font-size: 14px">
					Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
				</span>
            </div>

            <div class="form-group mt-3">
                <label for="password1"> Password: </label>
                <br /> {{ form.password1 }}
                <br />
                <ul class="text-muted" style="padding: 0% !important; list-style: none; font-size: 14px">
                    <li>
                        Your password can’t be too similar to your other personal information.
                    </li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>

            <div class="form-group mt-3">
                <label for="password2"> Password Confirmation: </label>
                <br /> {{ form.password2 }}
                <br />
                <ul class="text-muted" style="padding: 0% !important; list-style: none; font-size: 14px">
                    <li>Enter the same password as before, for verification.</li>
                </ul>
            </div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock content %}